h1
    | My Skills Are...
ul
    //- Start square
    li
        h3 Skill One
        ul
            li +
            li Extra Info
            li More info
    //- End square
    //- Start square
    li
        h3 Skill Two
        ul
            li +
            li Extra Info
            li More info
    //- End square